

*{
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    color: #222;
}
html, body{
    margin-top: 100px;
    margin-bottom: 100px;
    height: 100vh;
    text-align: center;
}

.heading {
    color: #0c0c0c;
    display: block;
    font-family: 'Caveat', cursive;
    font-size: 6em;
    font-weight: normal;
    text-shadow: 0 0 10px #8a8a8a00;
    text-align: center;
}
.heading-subtext{
    color: #0c0c0c;
    display: block;
    font-family: 'Caveat', cursive;
    font-size: .6em;
    text-align: center;
}
.fixed-button{
    background: rgba(20,20,20,.5);
    border-radius: 1em;
    bottom: 1em;
    color: white;
    font-weight: bold;
    padding: 1em;
    position: fixed;
    right: 1em;
    text-decoration: none;
    z-index: 9999;
}
.fixed-button::after{
    content: "\25BE";
    display: block;
    font-size: 28px;
    line-height: 0;
    margin-bottom: 6px;
    margin-top: 10px;
    text-align: center;
}
.fixed-button:active,
.fixed-button:hover{
    background: rgba(20,20,20,.9);
}
.section{
    margin: 0 auto;
    max-width: 700px;
    padding: 1em 1em;
    padding-bottom: 1em;

}
.sub-heading{
    font-family: 'Caveat', cursive;
    font-size: 3em;
    margin-top: 1em;
}
.details{
    /* margin: 0 auto 8em; */
    margin-top: 2em;
    margin-bottom: 2em;
    
}
.details-heading{
    font-weight: bold;
    text-transform: uppercase;
}
.fas {
    font-size: 3em;
    opacity: .8;
}
.resort-image{
    width: 100%;
    margin-top: 4em;

}
.logo{
    width: 35%;
}








@media only screen and (max-width: 600px) {
    .heading {
        font-size: 4em;
    }
  }

/* put description and images to activities */

.text-center {
  text-align: center;
  font-family: 'Caveat', cursive;
  font-size: 3em;
  margin-top: 1em;
}

.text-justify {
  text-align: justify;
  float: left;
}

/* put description and images to activities 

p {
    text-align: justify;
}
*/

/* poner justificacion a todos los parrafos excepto a los que tengan class="evitar" */



p:not(.evitar) {
    text-align: justify;
}


.myclass p {
    text-align: justify;
    padding-right: 12em;
}

.myclass img{
    padding-bottom: -1em;
}

.myclass h3{
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
}

.texto_actividad {
    margin: 0 auto;
    max-width: 500px;
    padding: 1em 1em;
}

